In [4]:
from pydataset import data

import pandas as pd
import numpy as np

from scipy import stats

import matplotlib.pyplot as plt
df= pd.read_csv("clean_telco.csv")

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Example
1a. Do those who churn spend more than those who do not churn?
$H_{0}$: avg spend for those who churn <= avg spend for those who don't.
$H_{a}$: avg spend for thos who churn > avg spend for those who don't.

A type I error is when we reject the null hypothesis, but, in reality, the null hypothesis is true.
A type II error is when we fail to reject the null hypothesis when it is actually false.

In [ ]:
# Q 1.Has the network latency gone up since we switched internet service providers?
# Hypothesis: The network latency has not gone up since we switched providers.
# $H_{0}$ Network latency is less than or has stayed the same since we switched internet service providers.
# $H_{a}$ Network latency has gone up since we switched providers

Type I error: Reject that network latency has not gone up since we switched providers.  But it has.
Type II error: Accept that the network latency has not gone up since we switched providers. But it has not.

In [ ]:
# Q 2.Is the website redesign any good?
# Hypothesis: The website redesign is a great improvement.
# $H_{0}$ The website design made no improvement to design.
# $H_{a}$ The website design is worse or better than the original.

In [ ]:
Type I error: Reject that the website redesign made no improvement.  But it made improvement.
Type II error: Accept that the website redesign made no impovement. But it made no improvement.

In [ ]:
# Q 3. Is our television ad driving more sales?
# Hypothesis: Our television ad is driving more sales.
# $H_{0}$ Our television ad is not increasing or it is maintaining proir level of sales.
# $H_{a}$ Our television ad is increasing sales.

Type I error: Reject that our tv ad is not increasing sales. But it is not increasing sales.
Type II error: Accept that our tv ad is not increasing sales. But it is increasing sales.

In [ ]:
# NEXT SET OF EX. T-TEST

In [5]:
from math import sqrt
from scipy import stats

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

url = "https://gist.githubusercontent.com/ryanorsinger/2c13a71421037af127e9fa7fa1463cad/raw/3eb443414078b51af33fdb2d211159e5f3e220ab/exam_scores.csv"
df = pd.read_csv(url)

df.study_strategy.fillna('None', inplace=True)
df= pd.read_csv("clean_telco.csv")

In [ ]:
## 1. 
office_1_mean = 90
office_2_mean = 100
s1

Example
x1 = df[df.study_strategy == 'flashcards'].exam_score
x2 = df[df.study_strategy != 'flashcards'].exam_score

xbar1 = x1.mean()
xbar2 = x2.mean()

n1 = x1.shape[0]
n2 = x2.shape[0]

s1 = x1.std()
s2 = x2.std()

degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

In [34]:
xbar1 = 90 
xbar2 = 100

s1 = 15 
s2 = 20
n1 = 40
n2 = 50
degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) *  s1**2 +(n2 -1) * s2**2) / (n1 + n2 - 2))

standrd_error = se = sqrt(s1**2 / n1 + s2**2 / n2)
t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

-2.6252287036468456

In [36]:
## p low reject HO
## The H0: There is no difference
## H1There is a difference

In [48]:
# This is in the documentation towards the bottom
t, p = stats.ttest_ind_from_stats(100, 20, 50, 90, 15, 40)
t,p

(2.6252287036468456, 0.01020985244923939)

In [47]:
p = stats.t(degf).cdf(t) * 2

print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = -2.62523
p = 0.01021

In [41]:
import pydataset as py

Load the mpg dataset and use it to answer the following questions:

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
Are compact cars more fuel-efficient than the average car?
Do manual cars get better gas mileage than automatic ca

In [52]:
#H0: There is no difference in fuel_efficiency in cars from 2008 vs 1999.
#H1: There is a difference in fuel_efficiency in cars from 2008 vs 1999.

SyntaxError: invalid syntax (<ipython-input-52-89d332710a13>, line 8)

In [53]:
#load the mpg dataset
df = data('mpg')

In [50]:
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [51]:
= df[df.year == 2008]
= df[df.year == 1999]
stats.ttest.ind formula find this